*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  color: white;
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  background-color: #0f1424;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center;
  width: 100%; }

.container {
  max-width: 500px;
  width: 90%; }
  @media (min-width: 570px) {
    .container {
      max-width: 900px; } }

.content {
  margin: 10rem 0;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 6rem 2rem; }
  .content__user-block {
    background-color: #1c1f4a;
    border-radius: 1.5rem;
    overflow: hidden; }
    @media (min-width: 570px) {
      .content__user-block {
        grid-column: 1 / 3; } }
    @media (min-width: 1140px) {
      .content__user-block {
        grid-column: 1 / 2;
        grid-row: 1/ 3; } }
  @media (min-width: 570px) {
    .content {
      grid-template-columns: 45% 45%;
      align-items: flex-start; } }
  @media (min-width: 1140px) {
    .content {
      grid-template-columns: repeat(4, 1fr);
      align-items: flex-end;
      grid-gap: 2rem 2rem; } }
  .content__human-box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: #5847eb;
    padding: 3rem 2.5rem;
    border-radius: 1.5rem; }
    @media (min-width: 1140px) {
      .content__human-box {
        flex-direction: column;
        align-items: flex-start;
        padding: 4rem 2.5rem; } }
  .content__user-picture {
    width: 7rem;
    border: 0.2rem solid white;
    border-radius: 50%; }
    @media (min-width: 1140px) {
      .content__user-picture {
        width: 6rem; } }
  .content__user-info {
    margin: 2rem 0 4rem 0; }
  .content__user-text {
    font-size: 1.5rem;
    opacity: 0.5; }
    @media (min-width: 1140px) {
      .content__user-text {
        font-size: 1.1rem; } }
  .content__user-name {
    font-size: 2.5rem;
    font-weight: 300;
    opacity: 0.8; }
    @media (min-width: 1140px) {
      .content__user-name {
        font-size: 3rem; } }
  .content__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 5rem;
    padding: 2rem 0; }
    @media (min-width: 570px) {
      .content__list {
        gap: 10rem; } }
    @media (min-width: 1140px) {
      .content__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        padding: 2rem 2.5rem; } }
  .content__link {
    color: #6f76c8;
    text-decoration: none;
    font-size: 1.8rem; }
    @media (min-width: 1140px) {
      .content__link {
        font-size: 1.5rem; } }
    .content__link:hover {
      color: white; }
  .content__link-active {
    color: white; }
  .content__card {
    background-color: #1c1f4a;
    border-radius: 1.5rem;
    padding: 3rem 2rem;
    position: relative;
    transition: all 0.3s; }
    .content__card::before {
      content: "";
      width: 100%;
      border-radius: 1.5rem;
      position: absolute;
      top: -3.5rem;
      left: 0;
      padding: 3rem;
      background-repeat: no-repeat;
      z-index: -1; }
    .content__card:hover {
      background-color: #33387a;
      cursor: pointer; }
    @media (min-width: 1140px) {
      .content__card--work {
        grid-column: 2 / 3;
        grid-row: 1 / 2; } }
    .content__card--work::before {
      background-image: url(../images/icon-work.svg);
      background-color: #ff8c66;
      background-position: top -1.2rem right 1.5rem; }
    @media (min-width: 1140px) {
      .content__card--play {
        grid-column: 3 / 4;
        grid-row: 1 / 2; } }
    .content__card--play::before {
      background-image: url(../images/icon-play.svg);
      background-color: #56c2e6;
      background-position: top -1.2rem right 1.5rem; }
    @media (min-width: 1140px) {
      .content__card--study {
        grid-column: 4 / 5;
        grid-row: 1 / 2; } }
    .content__card--study::before {
      background-image: url(../images/icon-study.svg);
      background-color: #ff5c7c;
      background-position: top -1.2rem right 1.5rem; }
    @media (min-width: 1140px) {
      .content__card--exercise {
        grid-column: 2 / 3;
        grid-row: 2 / 3; } }
    .content__card--exercise::before {
      background-image: url(../images/icon-exercise.svg);
      background-color: #4acf81;
      background-position: top -1.2rem right 1.5rem; }
    @media (min-width: 1140px) {
      .content__card--social {
        grid-column: 3 / 4;
        grid-row: 2 / 3; } }
    .content__card--social::before {
      background-image: url(../images/icon-social.svg);
      background-color: #7536d3;
      background-position: top -1.2rem right 1.5rem; }
    @media (min-width: 1140px) {
      .content__card--selfCare {
        grid-column: 4 / 5;
        grid-row: 2 / 3; } }
    .content__card--selfCare::before {
      background-image: url(../images/icon-self-care.svg);
      background-color: #f1c65b;
      background-position: top -1.2rem right 1.5rem; }
  .content__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem; }
    @media (min-width: 1140px) {
      .content__title-wrapper {
        margin-bottom: 2rem; } }
    .content__title-wrapper svg {
      fill: #bbc0ff; }
      .content__title-wrapper svg:hover {
        fill: white; }
  @media (min-width: 1140px) {
    .content__title {
      font-size: 1.3rem; } }
  .content__ellips {
    height: 0.5rem; }
    @media (min-width: 1140px) {
      .content__ellips {
        height: 0.4rem; } }
  .content__hours-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 1140px) {
      .content__hours-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem; } }
  .content__hour {
    font-size: 3rem;
    font-weight: 300; }
    @media (min-width: 1140px) {
      .content__hour {
        font-size: 4rem; } }
  .content__date {
    color: #6f76c8;
    font-size: 1.4rem; }
    @media (min-width: 1140px) {
      .content__date {
        font-size: 1.1rem; } }

.attribution {
  width: 100%;
  font-size: clamp(1rem, 1vw, 1.2rem);
  text-align: center;
  margin-bottom: 5rem; }
  .attribution__link:link, .attribution__link:visited {
    text-transform: uppercase;
    color: #5847eb;
    transition: all 0.2s; }
  .attribution__link:hover, .attribution__link:active {
    color: #bdc1ff; }
