$color-primary: hsl(246, 80%, 60%);
$color--work: hsl(15, 100%, 70%);
$color--play: hsl(195, 74%, 62%);
$color--study: hsl(348, 100%, 68%);
$color--exercise: hsl(145, 58%, 55%);
$color--social: hsl(264, 64%, 52%);
$color--selfCare: hsl(43, 84%, 65%);

$color--veryDarkBlue: hsl(226, 43%, 10%);
$color--DarkBlue: hsl(235, 46%, 20%);
$color--Desaturated: hsl(235, 45%, 61%);
$color--Pale: hsl(236, 100%, 87%);

$font-primary: "Open Sans", sans-serif;
$font-secondary: "Rubik", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: white;
  font-size: 1.6rem;
  font-family: $font-secondary;
  // - Weights: 300, 400, 500
  background-color: $color--veryDarkBlue;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100%;
  justify-items: center;
}
